{% extends 'base.html' %} {% block content%} {% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md12"></div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Item</th>
        <th>Harga</th>
        <th>Jumlah</th>
        <th>Sub Total</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.makanan.nama }}</td>
        <td>{{ item.makanan.harga }}</td>
        <td>{{ item.quantity }}</td>
        <td>Rp{{ item.item_total }}</td>
        <td>
          {% if item.makanan.id %}
          <a
            onclick='return confirm("hapus pesanan?")'
            href="{% url 'remove_from_cart' item.makanan_id %}"
          >
            <button class="btn btn-danger">Hapus</button>
          </a>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Tidak ada item dalam keranjang.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p>Total : Rp{{ total_price }}</p>
{% endblock content %}
